<!DOCTYPE html>
<head>
    <title>Quiz Trivia!</title>    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.js"></script>
</head>
<body ng-app="QuizTrivia">
    <div class="main" ng-controller="MainController">                
        <div class="header">
            <div class="container">
                <!--<div class="col-md-6">
                    <img alt="Logo" src="./src/Logo.PNG" />
                </div>-->
                <div class="col-md-6">
                    <h1>QuizTrivia</h1>
                    <h2>An simple quiz game where the questions would be answers and answers would be questions ! </h2>                                        
                </div>
            </div>
        </div>
        <div class="Panel">
            <div class="Question">
                <h5>{{welcomeMessage.question}}</h5>
            </div>
            <div class="Options">
                <button class="btn btn-outline-info btn-lg  option1" ng-click="checkAnswer(0)">{{questionsFinal[0] | capitalize}}</button>
                <button class="btn btn-outline-info btn-lg option2" ng-click="checkAnswer(1)">{{questionsFinal[1] | capitalize}}</button>
                <button class="btn btn-outline-info btn-lg  option3" ng-click="checkAnswer(2)">{{questionsFinal[2] | capitalize}}</button>
                <button class="btn btn-outline-info btn-lg option4" ng-click="checkAnswer(3)">{{questionsFinal[3] | capitalize}}</button>
            </div>
            <div class="Result">
                <h1>{{Result}}</h1>
            </div>
        </div>        
    </div>
    <script src="./src/app.js"></script>    
    <script src="./src/controllers/MainController.js"></script>
</body>